{% extends "layout.html" %}
{% block content %}

    {% if current_user.is_authenticated %}
        <h1>Admin Panel</h1>
    {% endif %}
    <h1>There are {{ count }} people in the library.</h1>
    <div>
        <button>
            <a href="{{url_for('main.show_people_inside')}}">Show people in the library</a>
        </button>
        <button>
            <a href="{{url_for('main.show_recs')}}">Download logs in custom time</a>
        </button>
        <button>
            <a href="{{url_for('main.download_records')}}">Download today's entries</a>
        </button>
        {% if current_user.is_authenticated %}
            <button>
                <a href="{{url_for('main.logout')}}">Logout</a>
            </button>
        {% endif %}
    </div>
    
{% endblock content %}